.change {
    color: red;
}

.jpit-activities-droppable .droppable {
    padding-bottom: 0;
}

/********************************************************************************/
/* SPECIFIC LAYER STYLES
/********************************************************************************/
#pag-textos-infografia .note_pointer_left,
#pag-textos-infografia .note_pointer_right {
    display: inline-table;
    position: relative;
}

#pag-textos-iconografia i {
    font-size: 27px;
    cursor: default;
}

#pag-textos-iconografia .lista_iconos i:hover {
    color: #f6ae00;
}

#pag-textos-iconografia .little i {
    font-size: 14px;
}

#pag-textos-iconografia .large i {
    font-size: 50px;
}

#pag-textos-iconografia .color i {
    font-size: 30px;
}

#pag-textos-iconografia .color i.a {
    color: #0ff;
}

#pag-textos-iconografia .color i.b {
    color: #f0f;
}

#pag-textos-iconografia .color i.c {
    color: #00f;
}

#pag-textos-iconografia .color i.d {
    color: #3de467;
}

#pag-textos-iconografia .link i {
    font-size: 30px;
    cursor: pointer;
}

#pag-textos-iconografia .effects i {
    font-size: 30px;
    color: #f00;
    margin: 0 10px;
}

#pag-textos-iconografia .effects i.a {
    text-shadow: 5px 5px 10px #000;
}

#pag-textos-iconografia .effects i.b {
    text-shadow: 10px 10px 3px #000;
}

#pag-textos-iconografia .effects i.c {
    text-shadow: 15px 5px 5px #000;
}

#pag-textos-iconografia .effects i.d {
    text-shadow: 8px 0px 0px #000;
}


/********************************************************************************/
/* Solo para ejemplo de mouse over 1
/********************************************************************************/
#pag-textos-mouseover1 .mouse-over-one .button {
    background: #FFFFFF;
    border: dashed #00A5C0 1px;
    float: left;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#pag-textos-mouseover1 .mouse-over-one .button:hover {
    background: #f6ae00;
}

#pag-textos-mouseover1 .mouse-over-one {
    vertical-align: top;
}

#pag-textos-mouseover1 .contenido_sobre h5 {
    margin: 0;
}

#pag-textos-mouseover1 .contenido_sobre {
    padding: 10px;
    text-align: justify;
    box-shadow: 7px 7px 5px #cccccc;
    background: #FFFFFF;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    border-radius: 5px;
}

#pag-textos-mouseover1 .element {
    height: 100px;
    overflow: auto;
}

/********************************************************************************/
/* Solo para ejemplo de mouse over 2
/********************************************************************************/
#pag-textos-mouseover2 .mouse-over {
    background: #FFFFFF;
    border: dashed #00A5C0 1px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 10px;
}

#pag-textos-mouseover2 .mouse-over:hover {
    background: #f6ae00;
}

#pag-textos-mouseover2 .contenido_sobre {
    padding: 10px;
    text-align: justify;
    box-shadow: 7px 7px 5px #cccccc;
    background: #FFFFFF;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    border-radius: 5px;
}

/********************************************************************************/
/* Animaciones
/********************************************************************************/
#pag-media-animation1 .movi {
    background: url(../content/mujer.png) no-repeat;
    width: 200px;
    height: 294px;
    font-size: 50px;
}

#pag-media-animation1 .ion-arrow-right-a {
    color: green;
}

#pag-media-animation1 .ion-arrow-down-a {
    color: blue;
}

/********************************************************************************/
/* CSS3 ANIMATION
/********************************************************************************/
#pag-media-animation3 .instruction {
    text-align: center;
}

#pag-media-animation3 .box_stressed {
    width: 700px;
}

#pag-media-animation3 .box_connection {
    width: 700px;
    margin: 0 auto 10px;
}

#pag-media-animation3 .stave {
    background: url(../content/img17.png) no-repeat;
    width: 450px;
    height: 110px;
    margin: auto;
    position: relative;
}

#pag-media-animation3 .musical-note-name {
    width: 22px;
    height: 20px;
    position: absolute;
    font-size: 15px;
    color: #16a183;
    opacity: 0;
    background: #16a183;
    -webkit-animation-fill-mode: backwards;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}

#pag-media-animation3 .musical-note {
    width: 15px;
    height: 12px;
    background: url(../content/img17_1.png) no-repeat;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
    animation-name: musical-note;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes musical-note {
    0% {
        left: 0;
        top: 0;
    }

    10% {
        left: 46px;
        top: 65px;
    }

    20% {
        left: 87px;
        top: 54px;
    }

    30% {
        left: 128px;
        top: 42px;
    }

    40% {
        left: 164px;
        top: 30px;
    }

    50% {
        left: 200px;
        top: 18px;
    }

    60% {
        left: 247px;
        top: 60px;
    }

    70% {
        left: 291px;
        top: 48px;
    }

    80% {
        left: 337px;
        top: 36px;
    }

    100% {
        left: 388px;
        top: 25px;
    }
}

@keyframes musical-note-mi {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.4;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#pag-media-animation3 .musical-note-name.mi {
    left: 44px;
    top: 90px;
    animation-name: musical-note-mi;
}

@keyframes musical-note-sol {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0.4;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#pag-media-animation3 .musical-note-name.sol {
    left: 82px;
    top: 89px;
    animation-name: musical-note-sol;
}

@keyframes musical-note-si {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0.4;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#pag-media-animation3 .musical-note-name.si {
    left: 129px;
    top: 89px;
    animation-name: musical-note-si;
}

@keyframes musical-note-re {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#pag-media-animation3 .musical-note-name.re {
    left: 164px;
    top: 89px;
    animation-name: musical-note-re;
}

@keyframes musical-note-fa {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#pag-media-animation3 .musical-note-name.fa {
    left: 201px;
    top: 89px;
    animation-name: musical-note-fa;
}

@keyframes musical-note-fa-down {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0.4;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#pag-media-animation3 .musical-note-name.fa-down {
    left: 247px;
    top: 90px;
    animation-name: musical-note-fa-down;
}

@keyframes musical-note-la {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0.4;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#pag-media-animation3 .musical-note-name.la {
    left: 291px;
    top: 90px;
    animation-name: musical-note-la;
}


@keyframes musical-note-do {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

#pag-media-animation3 .musical-note-name.do {
    left: 337px;
    top: 90px;
    animation-name: musical-note-do;
}

@keyframes musical-note-mi-up {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0.4;
    }
}

#pag-media-animation3 .musical-note-name.mi-up {
    left: 386px;
    top: 90px;
    -webkit-animation-fill-mode: forwards;
    animation-name: musical-note-mi-up;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}


/********************************************************************************/
/* Imágenes con texto
/********************************************************************************/
#pag-contenidointeractivo-viewfirst .view-content {
    font-size: 12px;
}

#pag-contenidointeractivo-viewfirst .view-content h2 {
    color: #fff;
    border-bottom: dotted 2px #fff;
}

/********************************************************************************/
/* Imágenes para ampliar
/********************************************************************************/
.expand-image {
    width: 200px;
    height: 200px;
    margin: 0 auto 5px;
}

/********************************************************************************/
/* Pointers with text
/********************************************************************************/
#pag-contenidointeractivo-pointers .box_l {
    background: url(../content/cuerpo.png) no-repeat center top;
    margin: auto;
    width: 117px;
    height: 240px;
    position: relative;
}

#pag-contenidointeractivo-pointers .note_1 {
    left: -30px;
    top: 13px;
}

#pag-contenidointeractivo-pointers .note_2 {
    left: 72px;
    top: 100px;
}

#pag-contenidointeractivo-pointers .note_3 {
    left: -45px;
    top: 155px;
}

#pag-contenidointeractivo-pointers .note_4 {
    left: 75px;
    top: 195px;
}

/********************************************************************************/
/* Actividad Quiz
/********************************************************************************/
.pag-actividades-cuestionario .chalkboard_content {
    /* min-height: 350px; */
}

.jpit_activities_quiz_question_answers {
    /* height: 150px; */
    overflow: auto;
}

/********************************************************************************/
/* Actividad Sopa de letras
/********************************************************************************/
.pag-actividades-sopa .chalkboard_content {
    min-height: 350px;
    height: auto;

}

/********************************************************************************/
/* Actividad Sopa de letras
/********************************************************************************/
.pag-actividades-crucigrama .chalkboard_content {
    min-height: 350px;
    height: auto;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - apareamiento
/********************************************************************************/
#pag-actividades-arrastrar1 .chalkboard_content {
    height: auto;
}

#arrastrar1.jpit-activities-droppable .words_container {
    height: 50px;
}

#arrastrar1.jpit-activities-droppable table {
    empty-cells: show;
    clear: both;
}

#arrastrar1.jpit-activities-droppable th {
    color: #000;
    padding: 5px;
    text-align: right;
}

#arrastrar1.jpit-activities-droppable td.droppable {
    width: 80px;
    height: 16px;
}

#arrastrar1.jpit-activities-droppable td.conection {
    width: 30px;
    border: none;
    padding: 5px 10px;
}

#arrastrar1.jpit-activities-droppable .draggable {
    width: 80px;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - dialogo
/********************************************************************************/
#arrastrar2.jpit-activities-droppable .draggable {
    width: 90px;
    float: left;
    margin-bottom: 5px;
    clear: both;
    height: 15px;
}

#arrastrar2.jpit-activities-droppable .droppable {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    width: 100px;
    height: 25px;
}

#arrastrar2.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
    border: none;
    background-color: transparent;
    color: #000;
    width: 92px;
    margin: 0;
    float: unset;
}

#arrastrar2.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped.draggable.wrong {
    color: #D60C1B;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - completar
/********************************************************************************/
#arrastrar3.jpit-activities-droppable table {
    empty-cells: show;
    border-spacing: 0 5px;
    color: #fff;
}

#arrastrar3.jpit-activities-droppable th {
    color: #000;
    padding: 5px;
    text-align: right;
    font-weight: normal;
}

#arrastrar3.jpit-activities-droppable td {
    border: 1px dashed #777777;
    text-align: left;
    width: 180px;
}

#arrastrar3.jpit-activities-droppable .draggable {
    margin: 0 0 5px 0;
    width: 180px;
    text-align: left;
}

#arrastrar3.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
    background-color: transparent;
    color: #000000;
    border-color: transparent;
}

#arrastrar3.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped.draggable.wrong {
    color: #D60C1B;
}

#arrastrar3.jpit-activities-droppable .draggable.wrong,
#arrastrar3.jpit-activities-droppable .droppable.wrong {
    background-color: transparent;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - insertar
/********************************************************************************/
#arrastrar4.jpit-activities-droppable table {
    empty-cells: show;
    border-spacing: 0 5px;
}

#arrastrar4.jpit-activities-droppable th {
    padding: 5px;
    text-align: right;
    border-right: none;
}

#arrastrar4.jpit-activities-droppable td {
    padding: 5px;
    border: none;
    border-bottom: 1px dashed #777777;
    text-align: left;
    width: 200px;
}

#arrastrar4.jpit-activities-droppable .draggable {
    float: left;
    margin: 0 5px 5px 0;
}

#arrastrar4.jpit-activities-droppable .wrong {
    border-color: #D60C1B;
    color: #D60C1B;
    background-color: transparent;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - muchos a uno
/********************************************************************************/
#arrastrar5 .droppable {
    width: 300px;
    height: 150px;
}

#arrastrar5 .draggable {
    display: inline-block;
}

/********************************************************************************/
/* Actividad arrastrar y soltar multiple
/********************************************************************************/
#arrastrargrupos table {
    margin: auto;
    max-width: 590px;
}

#arrastrargrupos h5 {
    text-align: center;
    font-size: 16px;
    color: #000;
    border-bottom: 2px dotted #95B0CB;
}

#arrastrargrupos td {
    display: inline-block;
}

#arrastrargrupos td .target {
    min-height: 150px;
    width: 190px;
    overflow: auto;
}

#arrastrargrupos.jpit-activities-multidroppable .sources {
    width: 100%;
    height: 65px;
    margin: 10px auto 0;
}

#arrastrargrupos.jpit-activities-multidroppable .draggable {
    width: 165px;
    float: left;
    margin: 0 1px 5px;
}

#arrastrargrupos table .draggable.disabled {
    cursor: default;
}

#arrastrargrupos.jpit-activities-multidroppable .buttons {
    text-align: center;
    padding: 5px 0;
    clear: both;
}

/********************************************************************************/
/* Ordenamiento en matríz
/********************************************************************************/
.jpit-activities-sortable.matriz ul.sortable {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin: auto;
    float: none;
    padding: 5px;
    border: 1px solid;
}

.jpit-activities-sortable.matriz .sortable-item {
    width: 44px;
    height: 24px;
    padding: 10px 0;
    margin: 2px;
    border: 1px solid #95B0CB;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 2px #aaa;
    background-color: #ffffff;
}

.jpit-activities-sortable.matriz ul.sortable-horizontal .sortable-item:hover {
    background-color: rgba(25, 56, 201, 0.1);
}

.jpit-activities-sortable.matriz ul.sortable-horizontal .sortable-item:hover:before {
    content: "\f263";
    font-size: 12px;
    left: 0;
    top: 0;
}

/********************************************************************************/
/* Actividad Clasificar, formato de marcador.
/********************************************************************************/
.jpit-activities-check .check_left {
    margin-bottom: 10px;
}

.jpit-activities-check .check_left .word_content {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 3px 3px 3px #dadbdc;
    margin-bottom: 10px;
    padding: 20px 10px;
    text-align: center;
    font-size: 20px;
}

.jpit-activities-check .buttons {
    text-align: center;
}

.jpit-activities-check .buttons button.yes,
.jpit-activities-check .buttons button.not {
    font-size: 20px;
}

.jpit-activities-check .box_result {
    float: left;
    font-size: 20px;
    text-align: center;
}

.jpit-activities-check .box_result>div {
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #cbcccc;
    padding: 10px;
    width: 110px;
    float: left;
    margin: 0 10px;
}

.jpit-activities-check .box_result .correct {
    color: #8bc541;
}

.jpit-activities-check .box_result .hits {
    font-size: 30px;
}

.jpit-activities-check .box_result .wrong {
    color: #d60c1b;
}

.jpit-activities-check .box_result .miss {
    font-size: 30px;
}

/********************************************************************************/
/* Actividad marcar
/********************************************************************************/
.pag-actividades-marcar .chalkboard_content {
    height: 520px;
}

.jpit-activities-mark {
    width: 400px;
    margin: auto;
}

/********************************************************************************/
/* Actividad seleccionar 1
/********************************************************************************/
.pag-actividades-naruto .jpit-activities-selection .col-2>div {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px 5px;
    white-space: nowrap;
}

.pag-actividades-naruto .jpit-activities-selection .left {
    text-align: right;
}

.pag-actividades-naruto .jpit-activities-selection .right {
    text-align: left;
}

.pag-actividades-naruto .jpit-activities-selection .left .radio {
    float: right;
    margin-left: 5px;
}

.pag-actividades-naruto .jpit-activities-selection .right .radio {
    float: left;
    margin-right: 5px;
}

.pag-actividades-naruto .row {
    display: flex;
}

/********************************************************************************/
/* Actividad seleccionar 2
/********************************************************************************/
.pag-actividades-escritores .jpit-activities-selection li {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px 5px;
}

/********************************************************************************/
/* Actividad formulario
/********************************************************************************/
.jpit-activities-form .sheet {
    background: url(../img/bg_papel.png) repeat-x left top;
    width: 100%;
    margin: auto;
    padding-top: 35px;
}

.jpit-activities-form .sheet_body {
    background-color: #f6f5f2;
    padding: 10px 20px;
    box-shadow: 3px 3px 0px #cbcccc;
}

.jpit-activities-form input[type=text] {
    border: 2px dotted #aaaaaa;
    width: 94%;
    margin-bottom: 10px;
    padding: 5px 3%;
}

.jpit-activities-form textarea {
    width: 94%;
    height: 40px;
    padding: 3%;
    border: 2px dotted #aaaaaa;
}


/********************************************************************************/
/* Actividad arrastrar y soltar en estilos de aprendizaje
/********************************************************************************/
#arrastrar-ls.jpit-activities-droppable .words_container {
    height: 50px;
}

#arrastrar-ls.jpit-activities-droppable table {
    empty-cells: show;
    clear: both;
    width: 100%;
}

#arrastrar-ls.jpit-activities-droppable tbody {
    display: flex;
    justify-content: space-between;
}

#arrastrar-ls.jpit-activities-droppable th {
    color: #000;
    padding: 5px;
    text-align: right;
}

#arrastrar-ls.jpit-activities-droppable tr {
    display: flex;
    flex-direction: column;
}

#arrastrar-ls.jpit-activities-droppable td.droppable {
    width: 92px;
    height: 62px;
}

#arrastrar-ls.jpit-activities-droppable td.conection {
    width: 30px;
    border: none;
    padding: 5px 10px;
}

#arrastrar-ls.jpit-activities-droppable .estilos-arrastrar {
    display: flex;
    flex-wrap: wrap;
}

#arrastrar-ls.jpit-activities-droppable .draggable {
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    line-height: 110%;
}

.actividad-ls-contenedor {
    border: 1px dashed red;
    padding: 10px;
}



















header {
    background-color: white;
}

header .sec-menu {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: var(--container-max-width);
    gap: 20px;
}

header .sec-menu>img {
    max-width: 200px;
    animation-name: aparecer-banner;
    animation-duration: 2s;
}

@keyframes aparecer-banner {
    from {
        filter: blur(10px);
        transform: scale(1.2);
    }
}

/* Botones del header - Progreso / Créditos / Bibliografía */
header .sec-menu .botones-sec-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

header .sec-menu .botones-sec-menu>a {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    font-size: smaller;
    transition: .1s ease-in-out;
}

header .sec-menu .botones-sec-menu>a:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px rgb(181, 181, 181));
}

header .sec-menu .botones-sec-menu>a img {
    max-width: 40px;
    height: auto;
}









/* ----------------------------------------------------------
    Estilos Footer / Pie de página
---------------------------------------------------------- */
footer {
    background-color: var(--main-color);
}

footer .contenedor-botones {
    max-width: var(--container-max-width);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contenedor-botones #subpages_menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-right: 0;
    width: 100%;
}



/* Botones Anterior / Siguiente */
footer .contenedor-botones #subpages_menu div.button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: bold;
}

footer .contenedor-botones #subpages_menu div[previous-page]:hover,
footer .contenedor-botones #subpages_menu div[next-page]:hover {
    transition: .1s ease-in-out;
    filter: drop-shadow(2px 3px 3px rgb(59, 59, 59));
}

footer .contenedor-botones #subpages_menu div[previous-page] span,
footer .contenedor-botones #subpages_menu div[next-page] span {
    font-size: xx-large;
    padding-bottom: 5px;
    transition: .1s ease-in-out;

}

footer .contenedor-botones #subpages_menu div[next-page]:hover span {
    /* transform: translateX(10px); */
}

footer .contenedor-botones #subpages_menu div[previous-page]:hover span {
    /* transform: translateX(-10px); */
}


/* Texto número de página */
footer .contenedor-botones #page_number {
    position: absolute;
    display: flex;
    top: -28%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: var(--main-color);
    width: 220px;
    height: 19px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

footer .contenedor-botones .measuring-progress {

    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

footer .contenedor-botones .measuring-progress .results_value,
footer .contenedor-botones .measuring-progress .progress_text {
    font-weight: bold;
    color: #606060;
}

footer .contenedor-botones .measuring-progress .results_value {
    position: absolute;
    top: 4px;
    left: 74px;
}

footer .contenedor-botones .measuring-progress .progress_text {
    position: absolute;
    top: 4px;
    left: 20px;
}


.measuring-progress.horizontal .results_level {
    width: 100%;
    height: 25px;
    padding: 0 3px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.measuring-progress.horizontal .results_level div {
    background-color: #69DFFF;
    height: 21px;
    border-radius: 28px;
}


.w-100 {
    width: 100% !important;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.mt-5 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-0 {
    margin-top: 0;
}

.mb-5 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-5 {
    margin-left: 2rem;
}

.ml-4 {
    margin-left: 1.5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.d-block {
    display: block;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic !important;
}


.img-centered {
    display: block;
    margin: auto;
}

.color-morado {
    color: #601DB7 !important;
}


/* Introducción */
#expand_image_content {
    align-items: flex-start;
    justify-content: flex-start;
}

.expand-introduccion.expand-image {
    width: 800px;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: top;
    border: 0;
}



/* Introducción */
.escenario-intro {
    position: relative;
    width: 60%;
    margin: 0 20% 60px 20%;
}

.escenario-intro .fondo {
    width: 100%;
}

.escenario-intro .boton {
    position: absolute;
    width: 26%;
    height: 17%;
    border: 0;
    border-radius: 10px;
    transition: .1s ease-in-out;
    cursor: pointer;
    background-color: #49167800;
}

.escenario-intro .boton:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
    background-color: #4916782f;
    border: 2px solid #491678;
}

.escenario-intro .boton.boton1 {
    right: 11.9%;
    top: 40.1%;
}

.escenario-intro .boton.boton2 {
    right: 11.9%;
    top: 57.7%;
}

.escenario-intro .boton.boton3 {
    right: 11.9%;
    top: 75.3%;
}


#modalIntro1,
#modalIntro2,
#modalIntro3 {
    top: 21%;
    left: 11%;
    height: 75%;
    box-shadow: 0 0 5px #8c8c8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
}








/* Escenario Definicion */
#paginacion-numeros {
    background-color: #ffffff;
    padding: 0;
    box-shadow: none;
}

#paginacion-numeros ul.pagination {
    display: none;
}

#paginacion-numeros .boton-inicio {
    font-size: large;
    background-color: white;
    padding: 8px 20px;
    border: none;
    background-color: #FFC876;
    border-radius: 5px;
    margin: 10px auto 30px auto;
    display: block;
    cursor: pointer;
    transition: .1s ease-in-out;
}

#paginacion-numeros .boton-inicio:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 3px rgb(123, 123, 123));
}

.escenario-definicion {
    position: relative;
    margin: auto;
    display: block;
    width: 80%;
    margin-bottom: 60px;
}

.escenario-definicion img.fondo {
    width: 100%;
}

.modalDefinicion {
    border: 2px solid #69DFFF !important;
    border-radius: 20px;
}

.modalDefinicion span.subtitulo {
    font-weight: bold !important;
    color: var(--main-color) !important;
}

.modalDefinicion.ui-dialog .ui-dialog-title {
    background-color: #b56fff65;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.modalDefinicion.ui-dialog .ui-dialog-title:hover {
    background-color: #B56FFF;

}

.ui-widget-content.ui-front.ui-draggable.ui-resizable {
    min-width: 350px;
}

.escenario-definicion .boton {
    position: absolute;
    border: 0;
    border-radius: 100px;
    transition: .1s ease-in-out;
    background-color: #40087700;
    border: 2px solid #40087700;
}

.escenario-definicion .boton:hover {
    border: 2px solid #3F0877;
    background-color: #4008771f;
    filter: drop-shadow(0px 0px 5px rgb(49, 49, 49));
}

.escenario-definicion .boton.boton1 {
    top: 12.4%;
    left: 4.8%;
    width: 41.3%;
    height: 8.4%;
    animation-delay: 0.3s;
}

.escenario-definicion .boton.boton2 {
    top: 36.6%;
    left: 6.8%;
    width: 31%;
    height: 6.4%;
    animation-delay: 0.9s;
}

.escenario-definicion .boton.boton3 {
    top: 44.1%;
    left: 6.8%;
    width: 20%;
    height: 5.8%;
    animation-delay: 0.9s;
}

.escenario-definicion .boton.boton4 {
    top: 69%;
    left: 6.3%;
    width: 18.1%;
    height: 6.4%;
    animation-delay: 0.9s;
}

.escenario-definicion .boton.boton5 {
    top: 83.1%;
    left: 6.8%;
    width: 28.9%;
    height: 8.4%;
    animation-delay: 0.9s;
}


h2.titulo-definicion {
    color: #601DB7;
    text-align: center;
}

.boton-definicion {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.boton-definicion img {
    width: 100%;
    transition: .1s ease-in-out;
}

.boton-definicion img:hover {
    transform: scale(1.02);
    filter: drop-shadow(0px 0px 5px rgb(49, 49, 49));

}

.bloque-flex {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

h2.titulo-definicion2 {
    color: var(--main-color);
    text-align: left;
    margin-bottom: 0;
    border-left: 8px solid #69DFFF;
    padding-left: 5px;
}

.caja-audio {
    background-color: white;
    width: 100%;
    position: sticky;
    top: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.cuadro-ejemplo {
    position: relative;
    background-color: #F7F0FF;
    padding: 10px 20px;
    width: 80%;
    margin: 30px auto;
}

.cuadro-ejemplo:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 35px;
    background-color: #B56FFF;
}




.botones-modales {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.botones-modales button,
.escenario-aplicaciones button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.botones-modales button img {
    width: 100%;
    max-width: 150px;
    transition: .1s ease-in-out;
}

.escenario-aplicaciones button img {
    width: 100%;
    transition: .1s ease-in-out;
}

.botones-modales button img:hover {
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 5px rgb(126, 126, 126));
}

.modalAplicaciones.ui-dialog .ui-dialog-title {
    background-color: #6f3ea46d;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.modalAplicaciones.ui-dialog .ui-dialog-title:hover {
    background-color: #6f3ea4c0;
}

.escenario-aplicaciones {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

.escenario-aplicaciones button {
    position: absolute;
    padding: 0;
    height: 8.3%;
    width: 10.3%;
    border-radius: 9px;
    transition: .1s ease-in;
    background-color: rgba(0, 128, 0, 0);
    border: 1px solid transparent;
}

.escenario-aplicaciones button:hover {
    filter: drop-shadow(0px 0px 5px rgb(80, 80, 80)) brightness(1.2);
    /* transform: scale(1.06); */
    border: 3px solid #3F0877;
    background-color: #40087715;

}

.escenario-aplicaciones .boton1 {
    top: 35.2%;
    left: 65%;
}

.escenario-aplicaciones .boton2 {
    top: 35.2%;
    left: 77.5%;
}

.escenario-aplicaciones .boton3 {
    top: 58.2%;
    left: 65%;
}

.escenario-aplicaciones .boton4 {
    top: 46.9%;
    left: 77.5%;
}

.escenario-aplicaciones .boton5 {
    top: 46.9%;
    left: 65%;
}

.escenario-aplicaciones .boton6 {
    top: 58.2%;
    left: 77.5%;
}

.escenario-aplicaciones .boton7 {
    top: 69.6%;
    left: 65%;
}


.ejemplo-flex {
    display: flex;
    align-items: center;
}

.ejemplo-flex img {
    max-height: 150px;
}

.ejemplo-flex p {
    padding: 0;
}

.ejemplo-flex h3 {
    color: var(--secondary-color);
}

.ejemplo-flex.verbal-sensorial p {
    margin-left: 20px;
    border-left: 5px solid #FFC876;
    padding: 15px 7px;
}

.respuesta {
    border: 1px solid var(--secondary-color);
    padding: 10px 25px;
    border-radius: 10px;
    display: inline-block;
}



/* Resumen - Visual / Intuitivo */
.escenario-resumen {
    position: relative;
    width: 80%;
    margin: 0 auto 40px auto;
}

.escenario-resumen .fondo {
    width: 100%;
}

.escenario-resumen .boton {
    position: absolute;
    height: 9%;
    top: 72%;
    border: 0;
    border-radius: 100px;
    transition: .1s ease-in-out;
    cursor: pointer;
    padding: 0;
    background-color: rgba(255, 0, 0, 0);
}

.escenario-resumen .boton:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
    background-color: #ff766f2d;
    border: 2px solid #FF776F;
}

.escenario-resumen .boton.boton1 {
    right: 19.7%;
    top: 9.8%;
    width: 32.7%;
}

.escenario-resumen .boton.boton2 {
    right: 44.5%;
    top: 18.2%;
    width: 19%;
}

.escenario-resumen .boton.boton3 {
    right: 23.5%;
    top: 18.2%;
    width: 21.7%;
}

.escenario-resumen .boton.boton4 {
    right: 5.5%;
    top: 18.2%;
    width: 19.5%;
}

.escenario-resumen .boton.boton5 {
    right: 19.5%;
    top: 26.2%;
    width: 33.4%;
}



#modalResumen1,
#modalResumen2,
#modalResumen3,
#modalResumen4,
#modalResumen5 {
    top: 1%;
    left: 16%;
    height: 50%;
    box-shadow: 0 0 5px #8c8c8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
}

.caja-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.caja-flex2 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

@media screen and (max-width: 992px) {
    .caja-flex {
        flex-wrap: wrap;
    }
}

.caja-flex img {
    max-width: 20%;
    min-width: 100px;
}

.caja-flex2 img {
    max-width: 120px;
}

.caja-flex2 p {
    border-left: 7px solid #FFC876;
    padding: 5px 10px;
}



.jpit_activities_quiz_question_feedback_true,
.jpit_activities_quiz_question_feedback_false {
    padding: 10px 40px;
}




#credits-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#credits-page h3,
#credits-page h4 {
    text-align: center;
    color: var(--secondary-color);
}

#credits-page cite {
    margin-bottom: 20px;
    text-align: center;
}

#credits-page img.logo-sgr {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 230px;
}

#credits-page img.logo-udea {
    width: 230px;
    margin-bottom: 20px;
}

#credits-page img.logo-gobernacion {
    width: 230px;
    margin-bottom: 50px;
}


/* Fix ventanas modales */
.w-content.ui-dialog-content.ui-widget-content {
    max-height: 85vh !important;
    overflow: auto;
}

.antes-despues {
    width: 100% !important;
    max-height: 700px;
}

.antes-despues2 {
    width: 100% !important;
    max-height: 1573px;
}

/* Fix al borde de los botones en modales */
button:focus-visible {
    outline: none !important;
}


.bloque-instruccion {
    max-width: 80%;
    margin: 20px auto;
    background-color: rgb(223, 223, 223);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px #dedede65;
}

.bloque-instruccion ol li::marker {
    font-weight: bold;
}



/* Aplicaciones - Flip cards */
.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.scene {
    width: 300px;
    height: 450px;
    transition: transform 0.2s;
}

.scene .btn-voltear {
    transition: .2s ease-in-out;

}

.scene:hover .btn-voltear {
    transform: scale(1.05) translateY(-20px);
    filter: drop-shadow(0 0 5px black);
}

.scene .img-tarjeta {
    transition: .2s ease-in-out;
}

.scene:hover .img-tarjeta {
    filter: drop-shadow(0 0 5px rgb(113, 113, 113));
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card.voltear {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card__face--front {
    background-color: white;
}

.card__face--back {
    background-color: white;

    transform: rotateY(180deg);
}


#arrastrar1 .respuestas {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#arrastrar1 .cuadro-preguntas {
    display: flex;
    align-items: center;
    gap: 10px;
}

#arrastrar1 .cuadro-preguntas p {
    font-weight: normal;
}

.cajas-soluciones>div {
    background-color: #ececec;
    padding: 20px 40px;
    margin-bottom: 30px;
    border-radius: 10px;
}


#paginacion-numeros.paginacion2 {
    border: 1px solid rgb(147, 147, 147);
    border-radius: 20px;
}

#paginacion-numeros.paginacion2 .escenario-definicion {
    margin-bottom: 0;
}

.mas {
    background-color: #68DFFF;
    color: #3E0A75;
    font-weight: bold;
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 50px;
}

.ico-cc {
    display: block;
    margin: 30px auto;
    width: 150px;
}

.bi-chevron-down {
    display: block;
    margin: 20px auto 10px auto;
    transition: .2s ease-in-out;
    animation-iteration-count: infinite;
    animation-name: mover-flecha;
    animation-duration: 2s;
}

.reflexion-prueba {
    padding: 20px 40px;
    filter: drop-shadow(2px 5px 5px rgb(199, 199, 199));
    background-color: #ffebea;
    width: 70%;
    margin: auto;
}

@keyframes mover-flecha {
    0% {transform: translateY(0);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0)rotateY(180deg);}
}